[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
requests = "*"
dj-database-url = "*"
environs = "*"
pathlib = "*"
setuptools = "*"
psycopg = "*"
psycopg2-binary = "==2.9.9"
gunicorn = "*"
supervisor = "*"
awsebcli = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
